html
    head
        title='Login'
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous")
    body(style="background: linear-gradient(90deg, #00d2ff, #928DAB);")
        div(class="container my-4 d-flex align-items-center justify-content-center")
            div(class="card" style="width: 35rem;")
                div(class="card-header" style="text-align: center; background: linear-gradient(90deg, #00d2ff, #928DAB);")
                    h1="Login"
                div(class="card-body bg-primary")
                    div(class="d-flex justify-content-center my-4")
                        form(action="/login" method="POST")
                            div(class="row")
                                div(class="col-12")
                                    input(type="text" class="form-control" placeholder="Username:" name="username")
                            div(class="row my-3")
                                div(class="col-12")
                                    input(type="password" class="form-control" placeholder="Password:" name="password")
                            div(style="text-align:center;")
                                a(href="/register" class="text-white")="Registrar"
                            div(class="row my-3")
                                button(class="btn btn-outline-light")="Enviar"
